 #para1 {
    color: rgb(65, 105,225);
  }
  #para2 {
    color: rgb(0, 0,255);
  }
  #para3 {
    color: rgb(0,0,205);
  }
  #para4 {
    color: rgb(0,0,139);
  }

  #para5 {
    color: rgb(0, 0,128);
  }